[Desktop Entry]
Name=Install Tanglu
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=/usr/bin/live-installer
Icon=live-installer
Terminal=False
Type=Application
Categories=System;
