Source: tanglu-live-installer
Section: admin
Priority: optional
Maintainer: Tanglu Developers <tanglu-devel-discuss@lists.tanglu.org>
Build-Depends: debhelper (>= 9),
               python (>= 2.7) | python-all | python-dev | python-all-dev
Standards-Version: 3.9.4

Package: tanglu-live-installer
Architecture: all
Depends: desktop-file-utils,
         gksu | kdesudo,
         gparted,
         graphicsmagick-imagemagick-compat,
         inxi,
         python (<< 3),
         python (>= 2.7),
         python-geoip,
         python-glade2,
         python-gtk2,
         python-imaging,
         python-numpy,
         python-opencv,
         python-parted,
         python-qt4,
         python-webkit,
         tanglu-artwork-base,
         ${misc:Depends}
Replaces: tanglu-live-installer-slideshow-gnome (<< 0.4.12),
          tanglu-live-installer-slideshow-kde (<< 0.4.12)
Breaks: tanglu-live-installer-slideshow-gnome (<< 0.4.12),
        tanglu-live-installer-slideshow-kde (<< 0.4.12)
Description: Live Installer for Tanglu
 An alternative installer for Tanglu GNU/Linux, designed for
 the "Bartholomea annulata" release.
 .
 It ships with slideshows for the GNOME and KDE flavors.
