Source: tanglu-live-installer
Section: admin
Priority: optional
Maintainer: Tanglu Developers <tanglu-devel-discuss@lists.tanglu.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4

Package: aequorea-live-installer
Architecture: all
Depends: gksu | kdesudo,
         gparted,
         imagemagick,
         inxi,
         python (<< 3),
         python (>= 2.7),
         python-dev,
         python-geoip,
         python-glade2,
         python-gtk2,
         python-imaging,
         python-numpy,
         python-opencv,
         python-parted,
         python-qt4,
         python-webkit,
         ${misc:Depends}
Description: Live Installer for Tanglu Aequorea
 A live installer for Tanglu GNU/Linux, designed for
 the Aequorea Victoria release.

Package: aequorea-live-installer-slideshow
Architecture: all
Depends: ${misc:Depends}
Description: Live Installer for Aequorea - Slideshow
 A live installer for Tanglu GNU/Linux, designed for
 the Aequorea Victoria release.
 .
 This package contains a Tanglu slideshow for the
 live-installer.
